body {
    background-color: #26272E;
}
h1 {
    text-align: center;
    text-shadow:0 0 2px white,0 0 2px white,
    0 0 2px white,0 0 2px white,
    0 0 2px white,0 0 2px white,
    0 0 2px white,0 0 2px white;
    color : black;
    font-family: 'Open Sans Condensed';
}