body {
    background-color: #26272E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
    text-shadow:
    0 0 10px black,0 0 10px black,
    0 0 10px black,0 0 10px black,
    0 0 10px black,0 0 10px black,
    0 0 10px black,0 0 10px black;
    color : white;
    font-family: 'Open Sans Condensed';
    font-size: 100px;

    border: groove white ;
    border-radius: 15px;
    border-top-left-radius: 0px;

    margin-bottom: 20px;

    background-image: url("images/EDI\'s.jpeg");
}
.header {
    position:relative;
}
.banner {
    margin:0; padding: 0;
    text-align: center;
    border:groove white;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: black;
    position:absolute;
    top:-54px
    
}
.banner li{
    display: inline;
    width: 100%;
    padding-right: 20px;
}
.box-1 {
    border: solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.box-1 h2{
    text-align: center;
}
.box-2 {
    border: solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.box-2 h2{
    text-align: center;
}
.box-3 {
    border: solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.box-3 h2{
    text-align: center;
}
.box-4 {
    border: solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.box-4 h2{
    text-align: center;
}
.box-5 {
    border: solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.box-5 h2{
    text-align: center;
}
.box-6 {
    border: solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.box-6 h2{
    text-align: center;
}